.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: normal;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
/* demo */
field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-btn {
    display: flex;
    justify-content: center;
}

.send-btn {
    font-size: 16px;
    background-color: #9b9b9b;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 10px;
    transition: .3s;
    transform: scale(1);
}

.send-btn:hover {
    background: linear-gradient(to right, #11998e, #38ef7d);
    transition: .3s;
    transform: scale(1.05);
}

.btn-loading {
    background: linear-gradient(to right, #11998e, #38ef7d);
    animation: gradient 2s infinite linear;
    background-size: 200% 200%;;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.text-auth {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.register-in-auth {
    text-decoration: underline;
}

.description-edit, .description-edit:focus {
    resize: none;
    font-size: 16px;
    font-weight: normal;
}

.send-btn:disabled {
    filter: blur(2px);
}

.up-block {
    right: 30px;
    bottom: 100px;
    display: none;
    position: fixed;
    z-index: 100;
}

.svg-up{
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
}