@import './base.css';
@import 'css_modules/forms.css';
@import 'css_modules/anime_on_load.css';

* {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(329deg, rgba(0,43,54,1) 0%, rgba(0,0,0,1) 100%) fixed;
}

.router-text {
  color: white;
  font-size: 25px;
}

.active-router {
  color: rgb(0, 161, 197);
}

.loading::after {
    content: '\00a0\00a0\00a0';
    animation: progress-ellipsis 1.5s infinite;
}

@keyframes progress-ellipsis {
    0% {
        content: '\00a0\00a0\00a0';
    }
    30% {
        content: '.\00a0\00a0';
    }
    60% {
        content: '..\00a0';
    }
    90% {
        content: '...';
    }
}

.smooth-appearance {
  animation: smooth-appearance-anime .5s alternate forwards;
}

@keyframes smooth-appearance-anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-block-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0,43,54,1);
  width: 70%;
  max-width: 800px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  margin-top: 70px;
}

.between-block {
  display: flex;
  justify-content: space-between;
}

.section-input {
  margin: 10px;
}

.text-hello {
  margin: 0px 0px 20px 0px;
  width: 100%;
  text-align: center;
}

.title {
    text-align: center;
    width: 100%;
}

.confirmation_block {
    width: 70%;
    max-width: 800px;
    background-color: rgba(0,43,54,1);
    border-radius: 10px;
    padding: 10px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: absolute;
    z-index: 100;
    margin: auto;
    height: fit-content;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exit-btn {
    font-size: 16px;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    transition: .3s;
    transform: scale(1);
    filter: grayscale(30%);
}

.exit-btn:hover {
    filter: grayscale(0%);
    transition: .3s;
    transform: scale(0.95);
}